<h2>Personality Test</h2>

<p>Which image attracts you first?</p>

<form method="post" action="/Home/Result">

    <button type="submit" name="choice" value="nature">
        <img src="/images/nature.jpg" width="200" />
    </button>

    <button type="submit" name="choice" value="city">
        <img src="/images/city.jpg" width="200" />
    </button>

    <button type="submit" name="choice" value="space">
        <img src="/images/space.jpg" width="200" />
    </button>

</form>